services:
  postgres-synapse:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_SYNAPSE_DB}
      POSTGRES_USER: ${POSTGRES_SYNAPSE_USER}
      POSTGRES_PASSWORD: ${POSTGRES_SYNAPSE_PASSWORD}
    volumes:
      - postgres-synapse:/var/lib/postgresql/data

  postgres-sliding-sync:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_SLIDING_SYNC_DB}
      POSTGRES_USER: ${POSTGRES_SLIDING_SYNC_USER}
      POSTGRES_PASSWORD: ${POSTGRES_SLIDING_SYNC_PASSWORD}
    volumes:
      - postgres-sliding-sync:/var/lib/postgresql/data

  postgres-synapse-mas:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_SYNAPSE_MAS_DB}
      POSTGRES_USER: ${POSTGRES_SYNAPSE_MAS_USER}
      POSTGRES_PASSWORD: ${POSTGRES_SYNAPSE_MAS_PASSWORD}
    volumes:
      - postgres-synapse-mas:/var/lib/postgresql/data

  synapse:
    image: matrixdotorg/synapse:latest
    restart: unless-stopped
    environment:
      SYNAPSE_CONFIG_PATH: /data/config
    volumes:
      - /data/matrix/synapse/data:/data
      - /data/matrix/synapse/media:/media_store
      - /data/matrix/configurations/synapse/homeserver.yaml:/data/config/homeserver.yaml:ro
      - /data/matrix/configurations/synapse/db.yaml:/data/config/db.yaml:ro
      - /data/matrix/configurations/synapse/oidc.yaml:/data/config/oidc.yaml:ro
      - /data/matrix/configurations/synapse/email.yaml:/data/config/email.yaml:ro
    depends_on:
      - postgres-synapse
      - synapse-mass-authentication-service

  sliding-sync:
    image: ghcr.io/matrix-org/sliding-sync:latest
    restart: unless-stopped
    depends_on:
      - synapse
      - postgres-sliding-sync
    environment:
      SYNCV3_SERVER: ${SYNAPSE_FQDN}
      SYNCV3_DB: "host=postgres-sliding-sync sslmode=disable port=5432 dbname=${POSTGRES_SLIDING_SYNC_DB} user=${POSTGRES_SLIDING_SYNC_USER} password=${POSTGRES_SLIDING_SYNC_PASSWORD}"
      SYNCV3_SECRET: ${SLIDING_SYNC_SECRET}
      SYNCV3_BINDADDR: 127.0.0.1:8009

  synapse-mass-authentication-service:
    image: ghcr.io/element-hq/matrix-authentication-service:latest
    restart: unless-stopped
    volumes:
      - /data/matrix/configurations/synapse-mas/config.yaml:/config.yaml:ro
    command: server --config /config.yaml
    depends_on:
      - postgres-synapse-mas

  nginx:
    image: nginx:latest
    restart: unless-stopped
    volumes:
      - /data/matrix/configurations/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /data/matrix/configurations/nginx/index.html:/usr/share/nginx/html/.well-known/matrix/client/index.html:ro

volumes:
  postgres-synapse:
  postgres-sliding-sync:
  postgres-synapse-mas:
